body {
    background-color: blanchedalmond;
}

.container {
    color: black;
}

.card-body {
    background-color: antiquewhite;
}

.card-header, .card-footer {
    background-color: rgb(120, 104, 85);
}